<div class="card" *ngIf="!isLoading">
  <div class="card-header ">
    <div class="row">
      <div class="col-xl-6 col-12 mb-xl-0 mb-2 ">
        Liste des sous menus
      </div>
      <div class="col-xl-3 col-12 mb-xl-0 mb-2">
        <button type="button" class="btn btn-block btn-primary" (click)="goToSousList()">Retourner</button>

      </div>
      <div class="col-xl-3 col-12 mb-xl-0 mb-2">
        <button type="button" class="btn btn-block btn-primary" (click)="toModify()">Ajouter</button>

      </div>
    </div>
    <br>

  </div>
  <div class="card-body ">
    <table class="table table-bordered  "  style="width:100%;">


      <tr>
        <th>Nom</th>

        <th>Actions</th>
      </tr>


      <tr *ngFor="let item of this.data; let i = index  ">
        <td>{{item.name}}</td>
        <td>
          <div class="row pl-2 ">
            <i (click)="toUpdate(item.id, i)" class="fa fa-pencil mr-4" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true" (click)="deleteSousMenu(item.id)"></i>

          </div>
        </td>
      </tr>

    </table>


  </div>
</div>
<div *ngIf="isLoading" class="row justify-content-center"><app-spinner></app-spinner></div>

