<div *ngIf="!isLoading" class="row justify-content-center">
  <div class="card card-container">
    <div class="card-header">
      <strong>Envoyer une notification</strong>

    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="company">Titre</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="title" placeholder="Entrer un Titre">
      </div>
      <div class="form-group">
        <label>Contenu</label>
        <textarea id="textarea-input" name="textarea-input" [(ngModel)]="body" rows="9" class="form-control" placeholder="Contenu..."></textarea>
      </div>
      <div class="form-group">
        <label class="col-sm-4 col-form-label" >Extra</label>
        <div class="col-12">
          <select id="extra" [(ngModel)]="extra" (change)="testExtra()" name="extra" class="form-control">
            <option value="0">Pas d'extra</option>
            <option value="1">Nom du Restaurant</option>
            <option value="2">Url du Restaurant</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="extra==2" >
        <label>Url </label>
        <input type="text" class="form-control" name="textarea-input" [(ngModel)]="url" rows="9" class="form-control" placeholder="Contenu..." >
      </div>
      <div class="form-group" *ngIf="extra==1">
        <label class="col-sm-4 col-form-label" >Restaurant</label>
        <div class="col-12">
          <select id="typeCuisine" [(ngModel)]="restaurant" name="restaurant" class="form-control">
            <option value="">Restaurant</option>
            <option *ngFor="let type of restaurantList$ | async" [value]="type.idRestaurant">{{type.Nom}}</option>
          </select>
        </div>
      </div>
  <!--    <div class="form-group">
        <label for="company">Groupe</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="topics" placeholder="Entrer le groupe">
      </div>-->
      <div class="row justify-content-center">
        <div class="w-50">
          <button [disabled]="checkDisabled()" type="button" class="btn btn-block btn-primary" (click)="sendNotification()">Envoyer</button>

        </div>
      </div>
      <br>
     <div class="row justify-content-center">
      <h6 style="color: green" *ngIf="success"> La notification est envoyée avec succées</h6>
      <h6 style="color: #dc0934" *ngIf="failed" >La notification n'est pas envoyée</h6>
     </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="row justify-content-center"><app-spinner></app-spinner></div>
