<div *ngIf="!isLoading" class="row justify-content-center">
  <div class="card card-container">
    <div class="card-header">
      <strong>Ajouter un item de sous menu</strong>

    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="company">Nom</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="this.name" placeholder="Ajouter un nom">
      </div>
      <div class="form-group">
        <label for="company">Prix</label>
        <input type="number" class="form-control" id="company" [(ngModel)]="this.price" placeholder="Ajouter un prix">
      </div>
      <div class="form-group">
        <label for="company">Nom de cuisine</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="this.cuisine_name" placeholder="Ajouter un nom de cuisine">
      </div>
      <div class="form-group">
        <label for="company">Catégorie</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="this.category_name" placeholder="Ajouter un catégorie">
      </div>

      <div class="row ">
        <div class="col-md-6 col-12 mb-md-0 mb-2">
          <button type="button" class="btn btn-block btn-primary" (click)="goBack()">Retourner</button>

        </div>
        <div class="col-md-6 col-12">
          <button type="button" class="btn btn-block btn-primary"  (click)="addItem()" [disabled]="this.name.length===0 || this.category_name.length===0 || this.cuisine_name.length===0 ">Ajouter</button>

        </div>
        <div *ngIf="this.success===true" class="row justify-content-center w-100">
          <h6 style="color: green">Le nouveu type de menu est ajouté</h6>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="isLoading" class="row justify-content-center"><app-spinner></app-spinner></div>
