<div *ngIf="!isLoading" class="row justify-content-center">
  <div class="card card-container">
    <div class="card-header">
      <strong>Modifier un Evenement </strong>

    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="company">Libelle</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="this.titre" placeholder="Ajouter un titre">
      </div>



      <div class="form-group row" *ngIf="!this.path">
        <label class="col-md-2 col-12 col-form-label" >Photo</label>
        <div class="col-md-10 col-12">
          <input class="btn btn-block btn-primary"  type="file" name="file" (change)="uploadFile($event)">
        </div>
      </div>
      <div class="row" *ngIf="this.path">
        <div class="col-xl-6 col-12 mb-4"  >
          <div class="image-area" style="max-width: 100px">
            <img [src]="this.safePath"  style="max-width: 100px"   alt="Preview">
            <a (click)="deletePhoto()" class="remove-image"  style="display: inline;">&#215;</a>
          </div>
        </div>


      </div>

      <div class="row ">
        <div class="col-md-6 col-12 mb-md-0 mb-2">
          <button type="button" class="btn btn-block btn-primary" (click)="navigateBack()">Retourner</button>

        </div>
        <div class="col-md-6 col-12">
          <button type="button" class="btn btn-block btn-primary" (click)="addExigence()" [disabled]="this.titre===''   " >Modifier</button>

        </div>

        <div *ngIf="this.success===true" class="row justify-content-center w-100">
          <h6 style="color: green">l'évenement est modifié avec succées</h6>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="isLoading" class="row justify-content-center"><app-spinner></app-spinner></div>

