<div class="card" *ngIf="!isLoading">
  <div class="card-header ">
    <div class="row">
      <div class="col-sm-6 col-12">
        Liste des Restaurants
      </div>
      <div class="col-sm-6 mt-sm-0 mt-2 col-12">
        <div class="row">
          <div class="col-12">
            <input   [(ngModel)]="restaurantName"  [ngModelOptions]="{standalone: true}" type="text"  id="text-input" (change)="restaurantSearch()"  name="text-input" class="form-control " placeholder="Tapez le nom du restaurant">

          </div>

          <!--<div class="col-sm-3 col-12">
            <button type="button" class="btn btn-block btn-primary" (click)="restaurantSearch()">Chercher</button>
          </div>-->
        </div>
      </div>
    </div>
    <br>

  </div>
  <div class="card-body ">
    <table class="table table-bordered  "  style="width:100%;">


      <tr>
        <th>Nom</th>
        <th>Nombre des commentaires</th>

        <th>Actions</th>
      </tr>


      <tr *ngFor="let item of pageSlice   ">
        <td>{{item.Nom}}</td>
        <td>{{item.commentaires.length}}</td>

        <td>
          <div class="row pl-2 ">
            <i (click)="navigateToRestaurant(item.idRestaurant)" class="fa fa-pencil mr-2" aria-hidden="true"></i>
          </div>
        </td>
      </tr>

    </table>


    <mat-paginator

      [length]="restaurantsLength"
      [pageSizeOptions]="[5, 10, 100]"
      [pageSize]="this.pageSize"
      (page)="onPageChange($event)"

    >
    </mat-paginator>
  </div>
</div>
<div *ngIf="isLoading" class="row justify-content-center"><app-spinner></app-spinner></div>

