.star {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  color: #d3d3d3;
}
.full {
  color: #dc0934;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}
